* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
button {
    outline-style: none;
    border-style: none;
}

.cleanfix::before,
.cleanfix::after {
    content: "";
    display: table;
}

.cleanfix::after {
    clear: both;
}

.cleanfix {
    *zoom: 1;
}