body {
    font-size: 16px;
}

h1 {
    font-weight: 400;
}

.gray {
    color: gray;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.wb {
    font: normal 16px "微软雅黑";
    color: blue;
}

.green {
    color: green;
}

.tac {
    text-align: center;
}

p {
    line-height: 24px;
    text-indent: 2em;
}

.link {
    text-decoration: none;
}